.poster {
	height: 300px;
}

.book {
	width: 200px;
}

.box {
	position: absolute;
	top: -10px;
	right: -10px;
}

.brand-logo {
	margin-left: 10px;
}

.btnRow {
	margin-top: 20px;
}

.mainBtn {
	width: 200px;
}

